body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    overflow-x: hidden;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

section {
    display: flex;
    flex-direction: column;
    align-items: center
}

h1 {
    transform: rotate(-2deg);
    background-color: #3dd1e7;
    border: 0 solid #e5e7eb;
    padding: .75rem 1.65rem;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    margin-bottom: 3rem;
    font-size: 2rem
}

#image {
    height: 23rem;
    width: 23rem;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    border-radius: 50%;
}

h3 {
    transform: rotate(-2deg);
    background-color: #3dd1e7;
    border: 0 solid #e5e7eb;
    padding: .75rem 1.65rem;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

span {
    font-size: .7rem
}
