body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    overflow-x: hidden;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    transform: rotate(-2deg);

    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    padding: .75rem 1.65rem;
    user-select: none;
    -webkit-user-select: none;

    margin-bottom: 3rem;

    font-size: 2rem;
}

/*adapted*/
.button-53 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 1rem 3rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: fit-content;
  margin-top: 3rem;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 6px;
  left: 6px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);

  transition: all 0.1s;
}

.button-53:hover:after {
  bottom: 4px;
  left: 4px;
}

.button-53:active:after{
    bottom: 2px;
    left: 2px;
}



#image {
    height: 50vh;
    user-select: none;
    -webkit-user-select: none;
}